# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2020 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Bonsai
Name[ca]=Bonsai
Name[ca@valencia]=Bonsai
Name[es]=Bonsai
Name[fr]=Bonsai
Name[ko]=Bonsai
Name[nl]=Bonsai
Name[pt]=Bonsai
Name[sk]=Bonsai
Name[sl]=Bonsai
Name[sv]=Bonsai
Name[uk]=Бонсай
Name[x-test]=xxBonsaixx
Comment=Git manager
Comment[ca]=Gestor de Git
Comment[ca@valencia]=Gestor de Git
Comment[es]=Gestor de Git
Comment[fr]=Gestionnaire pour Git
Comment[ko]=Git 관리자
Comment[nl]=Gitbeheerder
Comment[pt]=Gestor do Git
Comment[sk]=Správca Gitu
Comment[sl]=Git manager
Comment[sv]=Git-hanterare
Comment[uk]=Керування git
Comment[x-test]=xxGit managerxx
TryExec=bonsai
Exec=bonsai %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=Git Manager
GenericName[ca]=Gestor de Git
GenericName[ca@valencia]=Gestor de Git
GenericName[es]=Gestor de Git
GenericName[fr]=Gestionnaire pour Git
GenericName[ko]=Git 관리자
GenericName[nl]=Gitbeheerder
GenericName[pt]=Gestor do Git
GenericName[sk]=Správca Gitu
GenericName[sl]=Git manager
GenericName[sv]=Git-hanterare
GenericName[uk]=Керування git
GenericName[x-test]=xxGit Managerxx
StartupNotify=true
Icon=bonsai
MimeType=inode/directory;
