# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2020 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Bonsai
Name[ca]=Bonsai
Name[ca@valencia]=Bonsai
Name[cs]=Bonsai
Name[de]=Bonsai
Name[en_GB]=Bonsai
Name[es]=Bonsai
Name[eu]=Bonsai
Name[fi]=Bonsai
Name[fr]=Bonsai
Name[it]=Bonsai
Name[ka]=Bonsai
Name[ko]=Bonsai
Name[nl]=Bonsai
Name[pa]=ਬੋਨਸਾਈ
Name[pl]=Bonsai
Name[pt]=Bonsai
Name[pt_BR]=Bonsai
Name[ro]=Bonsai
Name[sk]=Bonsai
Name[sl]=Bonsai
Name[sv]=Bonsai
Name[tr]=Bonsai
Name[uk]=Бонсай
Name[x-test]=xxBonsaixx
Name[zh_CN]=Bonsai
Comment=Git manager
Comment[ca]=Gestor de Git
Comment[ca@valencia]=Gestor de Git
Comment[cs]=Správce Git
Comment[de]=Git-Verwaltung
Comment[en_GB]=Git manager
Comment[es]=Gestor de Git
Comment[eu]=Git kudeatzailea
Comment[fi]=Git-hallinta
Comment[fr]=Gestionnaire pour Git
Comment[it]=Gestore git
Comment[ka]=Git-ის მმართველი
Comment[ko]=Git 관리자
Comment[nl]=Gitbeheerder
Comment[pa]=ਗਿਟ ਮੈਨੇਜਰ
Comment[pl]=Zarządzanie Gitem
Comment[pt]=Gestor do Git
Comment[pt_BR]=Gerenciador git
Comment[ro]=Gestionar Git
Comment[sk]=Správca Gitu
Comment[sl]=Git manager
Comment[sv]=Git-hanterare
Comment[tr]=Git yöneticisi
Comment[uk]=Керування git
Comment[x-test]=xxGit managerxx
Comment[zh_CN]=Git 管理器
TryExec=bonsai
Exec=bonsai %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=Git Manager
GenericName[ca]=Gestor de Git
GenericName[ca@valencia]=Gestor de Git
GenericName[cs]=Správce Git
GenericName[de]=Git-Verwaltung
GenericName[en_GB]=Git Manager
GenericName[es]=Gestor de Git
GenericName[eu]=Git kudeatzailea
GenericName[fi]=Git-hallinta
GenericName[fr]=Gestionnaire pour Git
GenericName[it]=Gestore git
GenericName[ka]=Git-ის მმართველი
GenericName[ko]=Git 관리자
GenericName[nl]=Gitbeheerder
GenericName[pa]=ਗਿਟ ਮੈਨੇਜਰ
GenericName[pl]=Zarządzanie Gitem
GenericName[pt]=Gestor do Git
GenericName[pt_BR]=Gerenciador git
GenericName[ro]=Gestionar Git
GenericName[sk]=Správca Gitu
GenericName[sl]=Git manager
GenericName[sv]=Git-hanterare
GenericName[tr]=Git Yöneticisi
GenericName[uk]=Керування git
GenericName[x-test]=xxGit Managerxx
GenericName[zh_CN]=Git 管理器
StartupNotify=true
Icon=bonsai
MimeType=inode/directory;
